body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    font-size: 24px;
    text-transform: uppercase;
}
p{
    font-family: "Noto Serif", sans-serif;
    font-size: 120%;    
}
#italic{
    font-style: italic;
    font-size: 1.2em;
}
#bold{
    font-weight: bold;
}
#lower{
    text-transform: lowercase;
}
#upper{
    text-transform: uppercase;
}
#capitalize{
    text-transform: capitalize;
}
#under{
    text-decoration: underline;
}
#over{
    text-decoration: overline;
}
#through{
    text-decoration: line-through;
}
#wavy-green{
    text-decoration-color: green;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 5px;
}
#double-purple{
    text-decoration: underline double purple 2px;
}
#dashed-pink{
    text-decoration: dashed underline overline rgb(252,117,140);
    line-height: 40px;
}
#dotted-navy{
    text-decoration: navy dotted line-through 5px;
}
#link-none{
    text-decoration: none;
    color: red;
    font-weight: bold;
}
#space{
    line-height: 40px;
}
#indent{
    text-indent: 50px;
}
#letter{
    letter-spacing: 20px;
}
#word{
    word-spacing: 40px;
}
#shadows{
    box-shadow: 10px 10px 10px gray;
    width: 900px;
}
#yellow-shadow{
    text-shadow: 10px 10px 10px yellow;
}
#green-shadow{
    text-shadow: -8px 8px green;
}
#blue-shadow{
    text-shadow: 10px -10px 3px blue;
}
#grey-shadow{
    text-shadow: 0px 5px 5px grey;
}
#purple-shadow{
    text-shadow: 0px 0px 8px purple;
}
#font{
    box-shadow: 3px 2px 7px orange;
    text-shadow: 1px 0px 6px khaki;
    text-decoration: underline dotted 5px;
    text-decoration-color: paleturquoise;
    border-style:double;
    border-color:brown;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-left-width: 10px;
    border-right-width: 10px;
}