*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    margin: 0;
    padding: 5px;
    border: 15px solid rgb(220, 230, 249);    
}
#zero{
    margin: 10px;
    padding: 5px;
}
.logo{
    margin: 0px;
    font-size: 28px;
    text-transform: uppercase;
    color: navy;
}
.fat{
    font-weight: 900;
    font-size: 36px;
}
.thin{
    font-weight: 200;
    font-size: 32px;
    letter-spacing: 3px;
}
p{
    text-align: center;
}
span{
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0,0,128,0.5);
}
.logo, span{
    font-family: 'Courier New', Courier, monospace;
}
div#border{
    margin: 10px auto;
    padding: 10px;
    border-top: 3px double navy;
    border-bottom: 1px solid navy;
    font-size: larger;
}
.b-sh{
    margin: 20px auto;
    padding: 5px 30px;
    background-color: rgb(220, 230, 249);
    width: 70%;
    max-height: 400px;
    border: 1px solid navy;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}
#none{
    list-style-type:none ;
}
#circle{
    list-style-type:circle ;
}
#disc{
    list-style-type:disc;
}
#square{
    list-style-type:square ;
}
#decimal{
    list-style-type:decimal ;
}
#decimal-leading-zero{
    list-style-type:decimal-leading-zero ;
}
#lower-roman{
    list-style-type:lower-roman ;
}
#upper-roman{
    list-style-type:upper-roman ;
}
#lower-alpha{
    list-style-type:lower-alpha ;
}
#upper-alpha{
    list-style-type:upper-alpha ;
}
li::marker{
    font-weight: bolder;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}
div.radius{
    border-radius: 25px;
}
ul#auto{
    list-style-image: url(../obrazy/auto.png);
}
ul#movie{
    list-style-image: url(../obrazy/movie.png);
}
div.leweoknodialogowe{
    width: 50%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    text-align: left;
}
div.praweoknodialogowe{
    width: 50%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    text-align: left;
}
#outside{
    list-style-position: outside;
}
#inside{
    list-style-position: inside;
}
div.sumary{
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(220, 230, 249);
    width: 200px;
    height: 200px;
    border: 1px solid navy;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
    border-radius: 200px;
}
.sumary h2{
    text-align: center;
}
ul#all{
    list-style: inside circle;
}